<div class="jumbotron">
<h1 id="name">CULT STAGE</h1>
<p id="line"><span>Indian Film and TV Fraternity's most preferred online platform for recruiting and showcasing talent.</span></p>

<form class="col-md-4 col-md-offset-4" id="signup">
<h3 id="signup-line">Be a part of the Cult.</h3>

<div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></input></div>

<div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></input></div>

<div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></input></div>
<span class="pull-right" id="fp"><a href="#">Forgot password</a> </span>
<input class="" type="submit" value="Create Account" >
<p><span id="or">Or </span></p>
<hr>
<div>
	<div class="col-md-6 ss"  id="fbbtn"><div><i class="fa fa-facebook"></i><span>Sign in with <b>Facebook</b></span></div></div>
	<div class="col-md-6 ss" id="gbtn"><div><i class="fa fa-google-plus"></i><span>Sign in with <b>Google</b></span></div></div>
</div>
</form>
<section class="home-bottom clearfix">
	<div class="container">
		<div class="col-md-3"><div><h3>CONNECT</h3><p>Instantly with the Film Industry, Television and Theatre Professionsals from around the world.  Be a part of the growing community of the Entertainment Industry fraternity.</p></div></div>
		<div class="col-md-3"><div><h3>FIND</h3><p>The right talent and best opportunities  today at your finger tips.
</p></div></div>
		<div class="col-md-3"><div><h3>GET HIRED</h3><p>By the Producers of Film and Television production teams and many more.</p></div></div>
		<div class="col-md-3"><div><h3>SHOWCASE</h3><p>Your creation whether it be script, music, lyrics, story with thousands of people already looking for it.
</p></div></div>
	</div>
	
</section>
</div>
