<div class="site-content clearfix">
<top-nav></top-nav>
<profile-cover></profile-cover>
	<div class="content container">
	<div class="col-md-3">
			<profile-side-menu></profile-side-menu>
		</div>

		<div class="col-md-9">
			<div class="new-post panel panel-default">
				<div class="top-tool"><div class="btn fa fa-file-photo-o"></div><div class="btn fa fa-file-video-o"></div></div>
				<textarea class="form-control"></textarea>
				<button class="btn btn-host">Post</button>
			</div>
			
		</div>
	</div>
</div>