<div class="site-content clearfix">
<top-nav></top-nav>

	<div class="content container">
		<div class="col-md-3">
    		<job-side-menu></job-side-menu>
		</div>
		<div class="col-md-9">
			<div class="result-item col-md-4">
				<div class="holder">
					<div class="img-container events"><img src="http://media1.santabanta.com/full1/Hollywood%20Movies/Life%20of%20Pi/life-of-pi-2a.jpg"></img></div>
					<div class="details">
						<p>Production | Movie | English</p>
						<h4 class="name">Life Of Pie</h4>
						
					</div>
					<div class="item-footer">
						<div class="col-md-6 btn btn-host">View</div>
						<!-- <div class="col-md-6 btn btn-green">Join</div> -->
					</div>
				</div>
			</div>

			<div class="result-item col-md-4">
				<div class="holder">
					<div class="img-container events"><img src="http://static.indianexpress.com/pic/uploadedImages/bigImages/B_Id_337333_Dabangg_2.jpg"></img></div>
					<div class="details">
						<p>Post Production | Movie | Hindi</p>
						<h4 class="name">Dabang 2</h4>						
					</div>
					<div class="item-footer">
						<div class="col-md-6 btn btn-host">View</div>
						<!-- <div class="col-md-6 btn btn-green">Join</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>